{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Phil Blog</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ version }}">
</head>

<body>
    <header>
        <nav>
            <a href="https://portfolio-page-ta2y.onrender.com/" class="back-portfolio"> <large>&laquo;</large> <small>Philemon's Portfolio</small></a>
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'add_blog' %}">Add Blog</a>
            <a href="{% url 'profile' %}">Profile</a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>

            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Philemon Victor &copy; 2025 Django Blog</p>
    </footer>

    <!-- Link External JavaScript File -->
    <script src="{% static 'js/pop_up.js' %}"></script>
</body>

</html>